ENV=development
HTTP_PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ladno_teams
DB_USER=postgres
DB_PASS=password
DB_SSL=disable

JWT_SECRET_KEY=change-me-secret
JWT_ACCESS_TTL_SECONDS=900
JWT_REFRESH_TTL_SECONDS=86400

COOKIE_SECURE=false
COOKIE_MAX_AGE_SECONDS=86400

ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
ADMIN_NAME=Administrator

# миграции
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${DB_USER}:${DB_PASS}@${DB_HOST}:${DB_PORT}/${DB_NAME}
GOOSE_MIGRATION_DIR=./infrastructure/database/migrations
