{{define "partials/admin/teammate_row"}}
<tr id="teammate-{{.UserGuid}}-{{.TeamGuid}}">
	<td>{{.TeamName}}</td>
	<td>{{.UserName}}</td>
	<td>{{template "ui/bool_checkbox" (checkbox (printf "/admin/teammates/%s/%s/leader" .UserGuid .TeamGuid) "is_leader" .IsLeader)}}</td>
	<td class="actions">
		<button class="btn-danger" hx-delete="/admin/teammates/{{.UserGuid}}/{{.TeamGuid}}" hx-target="closest tr" hx-swap="outerHTML settle:0.3s" hx-confirm="Delete teammate?">Delete</button>
	</td>
</tr>
{{end}}
