{{define "layouts/admin"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Admin Panel</title>
	<script src="https://unpkg.com/htmx.org@1.9.12"></script>
	<link rel="stylesheet" href="/assets/styles/admin.css">
	<script src="/assets/scripts/admin.js" defer></script>
</head>
<body>
	{{template "partials/admin/navbar" .}}
	<div class="container" id="content">{{.Content}}</div>
	<div id="modal-host"></div>
</body>
</html>
{{end}}
